<div class="container-fluid card login-container">
    <div class="card col-md-6 offset-3 mt-5">
        <div class="card-header">
            <H3 class="text-center">Nouveau Contact</H3>
        </div>
        <div class="card-body">
            
    <form>
        <div class="mb-3">
          <label for="firstname" class="form-label">Prenom</label>
          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prenom">
       
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
         
          </div>
          <div class="mb-3">
            <label for="iban" class="form-label">IBAN</label>
            <input type="iban" class="form-control" id="iban" name="iban" placeholder="D34 2345 1122 8899 09">
         </div>  

         <div Class="d-flex justify-content-end">
            <button type="button" class="btn btn-link text-primary">
                <em class="fas fa-times "></em>&nbsp;Cancel
            </button>
            <button type="button" class="btn btn-danger">
                <em class="fas fa-save"></em>&nbsp;Save
            </button>
          </div>
      </form>
        </div>

    </div>

</div>

