<div class="p-3">
    <h2 class="text-center mt-3">My Contact List</h2>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-success">
        <em class="fas fa-plus"></em>&nbsp;New Contact
    </button>
</div>
<div class=" ">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">IBAN</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class="cursor-pointer ">
                <em class="fas fa-edit text-primary"></em>&nbsp; |&nbsp;<em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td class="cursor-pointer ">
                <em class="fas fa-edit text-primary"></em>&nbsp; |&nbsp;<em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Larry the Bird</td>
            <td >Magic</td>
            <td>@twitter</td>
            <td class="cursor-pointer ">
                <em class="fas fa-edit text-primary"></em>&nbsp; |&nbsp;<em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
        </tbody>
      </table>
</div>

</div>
