<div class="container-fluid card login-container">
    <div class="card col-md-6 offset-3 mt-5">
        <div class="card-header">
            <H3 class="text-center">Login</H3>
        </div>
        <div class="card-body">
            
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="login" aria-describedby="emailHelp">
       
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>

        <div class="d-flex justify-content-between mb-3">
            
            <button type="button" class="btn btn-primary">
                <em class="fas fa-sign-in-alt">&nbsp;Se Connecter</em>
            </button>

            <div>
            J'ai pas de compte?&nbsp;<button type="button" class="btn btn-link">Creez-un Compte</button>
            </div>
        </div>  
      </form>
        </div>

    </div>

</div>
