<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/' + role">My bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"[routerLink]="'/'+ role">Dahboard</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin">
            <a class="nav-link" [routerLink]="'/user/my-transactions'">My transactions</a>
          </li>
         
          <li class="nav-item" *ngIf="!isAdmin">
            <a class="nav-link " aria-disabled="true" [routerLink]="'/user/my-contact-list'">My contact list</a>
          </li>

          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link " aria-disabled="true" [routerLink]="'/admin/customers'">Customers</a>
          </li>
        </ul>
        <div class="d-flex align-items-center" >
          <a *ngIf="!isAdmin" [routerLink]="'/user/new-transaction'" class="btn btn-success me-3" type="submit">
            <em class="fas fa-plus"></em>&nbsp;New Transaction 
          </a>
          <a [routerLink]="'/' + role + '/profile'" >
            <em class="fas fa-user"></em>&nbsp;Leo
          </a>
        </div>
      </div>
    </div>
  </nav>